<!doctype html>
<html>
  <head>
      <% include head %> 
    <link rel="stylesheet" href="../public/stylesheets/style1.css" />
    <title>ENIGMA-CHAT</title>
    <style>
    </style>
  </head>
  <body id="logged-out">
    <section id="chat">
      <ul id="messages"></ul>
      <form action="">
        <input id="m" autocomplete="off"  /><button>Send</button>
      </form>
    </section>
    <section id="login">
      <form action="">
        <label for="u">Username</label>
        <input id="u" autocomplete="off" autofocus />
        <p>
          <button>Login</button>
        </p>
      </form>
    </section>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../routes/client.js"></script>
  </body>
  <% include script %>
</html>