<!DOCTYPE html>
<html lang="en">
<head>
 <% include head %> 
</head>
<body>
        <% include menu %>
        <div class="container-fluid bg-3 text-center">    
                <div style='background-color: chocolate;height: 30px'>
                    <p class="col-sm-4" style='color:white;font-size: 15px;margin:4px'>! Quelles solutions d'épargne privilégier aujourd'hui?</p>
                </div><br>
                <p align='left'>Vidéo en direct</p>
            </div>
</body>
<% include script %>
</html>